<!-- app.component.html (Parent Template)
AUTHOR: Aryan Bhardwaj
CREATED: 2024-03-18
UPDATED: 2024-03-30
-->

<mat-toolbar color="primary" class="mat-toolbar-row">
  Angular Tutorials
</mat-toolbar>

<div class="gridblock">
  <mat-card *ngFor="let v of videos; let index = index" class="mat-mdc-elevation-specific mat-elevation-z8" class="mat-card">
    <img mat-card-image [src]="v.thumbnailUrl" alt="Thumbnail">
    <mat-card-header>
        <div mat-card-avatar class="avatar-circle" [ngStyle]="{ 'background-image': 'url(' + getAvatarUrl(v) + ')' }"></div>
      <mat-card-title>{{v.title}}</mat-card-title>
      <mat-card-subtitle>{{v.channel}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end" class="mat-card-actions">
      <button mat-icon-button color="primary" (click)="openDialog(v)">
        <mat-icon>info</mat-icon>
      </button>      
      <button mat-flat-button color="primary" (click)="openVideo(index)">Watch Now</button>
    </mat-card-actions>
  </mat-card>
</div>
